@model BlogsListPagination
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="site-section py-lg">
    <div class="container">
        <div class="row mb-4" style="margin-top:-85px;">
            <div class="col-md-6">
                <h2 class="mb-4">Category: @ViewBag.catname</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5 mt-5">

                    <div class="col-md-12">
                        @foreach (var blog in Model.Blogs)
                        {
                            <div class="post-entry-horzontal">
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id" style="width:100%">
                                    <div class="image element-animate fadeIn" data-animate-effect="fadeIn" style="background-image: url(../../Templates/wordify/images/@blog.ImageUrl);"></div>
                                    <span class="text">
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="~/Templates/wordify/images/person_1.jpg" alt="Colorlib"> Colorlib</span>•
                                            <span class="mr-2">@blog.DateAdded.ToShortDateString() </span> •
                                            <span class="mr-2">
                                                @foreach (var category in blog.Categories)
                                                {
                                                    @category.Name @Html.Raw(", ")
                                                }
                                            </span> •
                                            <span class="ml-2"><span class="fa fa-comments"></span> @blog.totalReview</span>
                                        </div>
                                        <h2>@blog.Title</h2>
                                    </span>
                                </a>
                            </div>
                            <!-- END post -->
                        }

                    </div>
                </div>              

                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <div page-model="@Model.PagingInfo" page-action="List">

                            </div>
                        </nav>
                    </div>
                </div>



            </div>

            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
</section>